{% extends 'base.html.twig' %}

{% block body %}
    <div class="login-page">

        <div class="form">
            <form action="{{ path('lch_send_email') }}" method="POST">
                <div>
                    <label class="control-label required" for="username">Email</label>
                    <input type="text" id="username" name="username" required="required" class="form-control" >
                </div>
                <button type="submit">Réinitialiser mon mot de passe</button>
            </form>
        </div>
    </div>
{% endblock %}
