.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  > div {
    width: 100%;
    max-width: 25%;
    padding: .8em 1em 0;
    background: hsla(31,15%,50%,.1);
    border-radius: 3px;
  }
}